@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@font-face {
  font-family: 'Articulat CF';
  src: url('../fonts/ArticulatCF-Normal.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Articulat CF';
  src: url('../fonts/ArticulatCF-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}